pkgbase = libmole-git
	pkgdesc = The Mimetic Operators Library Enhanced
	pkgver = 1.0.r130.g16d23bb
	pkgrel = 1
	url = https://github.com/csrc-sdsu/mole
	arch = x86_64
	license = GPL-3.0-only
	makedepends = cmake
	makedepends = doxygen
	makedepends = eigen
	makedepends = graphviz
	makedepends = openblas
	makedepends = git
	depends = armadillo
	optdepends = matlab: for MATLAB support
	optdepends = octave: for Octave support
	optdepends = eigen: for the sparse LU factorization
	provides = mole
	conflicts = mole
	source = git+https://github.com/csrc-sdsu/mole.git#branch=master
	sha512sums = SKIP

pkgname = libmole-git
