pkgbase = libmole-git
	pkgdesc = The Mimetic Operators Library Enhanced
	pkgver = 1.0.r373.g732d57a
	pkgrel = 1
	url = https://github.com/csrc-sdsu/mole
	arch = x86_64
	license = GPL-3.0-only
	checkdepends = gtest
	makedepends = cmake
	makedepends = eigen3
	makedepends = git
	depends = armadillo
	depends = octave
	depends = superlu
	optdepends = matlab: for MATLAB support
	optdepends = octave: for Octave support
	optdepends = eigen: for the sparse LU factorization
	provides = mole
	conflicts = mole
	source = git+https://github.com/csrc-sdsu/mole.git#branch=master
	source = git+https://github.com/gllmflndn/m2html.git#branch=main
	sha512sums = SKIP
	sha512sums = SKIP

pkgname = libmole-git
