pkgbase = python-jupyter-matlab-proxy-bin
	pkgdesc = MATLAB Integration for Jupyter
	pkgver = 0.11.0
	pkgrel = 1
	url = https://github.com/mathworks/python-jupyter-matlab-proxy-bin
	arch = any
	license = custom
	makedepends = python-installer
	depends = python-jupyter-server-proxy
	depends = jupyter_contrib_nbextensions
	depends = python-matlab-proxy
	depends = python-psutil
	depends = python-requests
	provides = python-jupyter-matlab-proxy=0.11.0
	conflicts = python-jupyter-matlab-proxy
	source = https://pypi.org/packages/py3/j/jupyter-matlab-proxy/jupyter_matlab_proxy-0.11.0-py3-none-any.whl
	sha512sums = 00bba80c19f203ea5852add386d51b350b88c53d1ede141948c10c553b49c7215b8110add90256fa95475b78b3513ec43791d81fada138c27506a6ad35572a42

pkgname = python-jupyter-matlab-proxy-bin
