name: MOLE docs

on:
  push:
    branches: [main]
    paths:
      - docker/libmole-docs.Dockerfile

jobs:
  docs:
    runs-on: ubuntu-24.04
    container: ghcr.io/carlosal1015/mole_examples/libmole-docs:latest
    env:
      M2HTML_REPO: "https://github.com/gllmflndn/m2html.git"
      MOLE_REPO: "https://github.com/csrc-sdsu/mole.git"

    steps:
      - name: Docs
        run: |
          pwd
          git clone -q --filter=blob:none --depth=1 ${MOLE_REPO}
          pushd mole
          git clone -q --filter=blob:none --depth=1 ${M2HTML_REPO}
          sed -i 's/^	@python/	#@python/' doc/sphinx/Makefile
          sed -i 's/import graphviz/import duration/' doc/sphinx/source/conf.py
          sed -i 's/graphviz.on_build_finished/duration.on_build_finished/' doc/sphinx/source/conf.py
          # sed -i 's/..\/..\/..\/..\/..\/doc\/doxygen\/matlab\/index.html/..\/..\/..\/..\/..\/mole_examples\/doxygen\/matlab\/index.html/' doc/sphinx/source/api/matlab_api.rst
          octave -q -p m2html --eval "m2html('mfiles', 'src/matlab_octave', 'htmldir', 'doc/doxygen/matlab_octave', 'global', 'on', 'template', 'blue')"
          pushd doc/sphinx/
          make doc-all
          pushd build/latex
          make
          popd
          popd
          popd
          mkdir -p docs
          mv mole/doc/doxygen docs
          mv mole/doc/sphinx/build/html docs
          mv mole/doc/sphinx/build/latex/MOLE.pdf docs

      - name: Download artifact
        uses: dawidd6/action-download-artifact@v11
        with:
          github_token: ${{secrets.GITHUB_TOKEN}}
          workflow: latex.yml
          name: PDF-artifact

      - name: "Untar files"
        run: |
          tar -I zstd -xvf PDF.tar.zst
          mv public/*.pdf docs

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs
          force_orphan: true
          publish_branch: gh-pages
