name: LaTeX

on:
  push:
    branches: [main]
    paths:
      - homework/**
      - tutorial/**
      - project/**

jobs:
  build_latex:
    runs-on: ubuntu-24.04

    steps:
      - name: Partial Clone
        shell: bash
        run: |
          REPO="https://${GITHUB_ACTOR}:${{ secrets.GITHUB_TOKEN }}@github.com/${GITHUB_REPOSITORY}.git"
          # git config --global init.defaultBranch main
          git config --global user.email github-actions@github.com
          git config --global user.name github-actions
          git clone -q --filter=blob:none --no-checkout --depth=1  --sparse $REPO .
          git sparse-checkout set homework tutorial project examples/cpp examples/octave tests/cpp tests/octave
          git checkout
          git clone -q --filter=blob:none --depth=1 https://github.com/csrc-sdsu/mole.git
          git clone -q --filter=blob:none --depth=1 https://github.com/nutrik/pymole.git

      - uses: addnab/docker-run-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          registry: ghcr.io
          image: ghcr.io/cpp-review-dune/introductory-review/texlive:latest
          options: |
            -v ${{github.workspace}}:/work
          shell: bash
          run: |
            sudo chown -R gitpod:gitpod /work
            # sudo pacman -Syu --needed --noconfirm python
            pushd /work/homework
            arara main
            popd
            pushd /work/tutorial
            arara main
            popd
            pushd /work/project
            arara main
            popd
            mkdir -p /work/public
            mv /work/homework/main.pdf /work/public/homework.pdf
            mv /work/tutorial/main.pdf /work/public/
            mv /work/project/main.pdf /work/public/project.pdf

      - name: "Tar files"
        run: |
          sudo chown runner:docker -R .
          tar --zstd -cf PDF.tar.zst public/*.pdf

      - uses: actions/upload-artifact@v5
        with:
          name: PDF-artifact
          path: PDF.tar.zst
          if-no-files-found: error
          retention-days: 90
